#issue-preview {
  display: grid;
  grid-template-rows: 30px 100px;
  grid-template-columns: 30% auto 10% 10%;
  grid-template-areas:
		"title title status status"
		"preview data  comments user";
  padding: 10px;
  vertical-align: baseline;

  .title {
	grid-area: title;
	font-weight: bold;
  }

  .status {
	grid-area: status;
	height: 25px;
	margin-left: auto;
	margin-right: 0;
  }

  .preview {
	justify-self: center;
	grid-area: preview;
	width: auto;
	max-width: 100%;
	max-height: 100px;
  }

  .comments {
	grid-area: comments;
	position: relative;
	top: 24px;
	margin-right: 0;
	margin-left: auto;
  }

  .data {
	grid-area: data;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "location"
  		"version"
  		"timestamp";
	color: grey;

	.data-location {
	  grid-area: location;
	}

	.data-version {
	  grid-area: version;
	}

	.data-timestamp {
	  grid-area: timestamp;
	}

	p {
	  margin: 0
	}
  }

  .user {
	grid-area: user;

	.user-avatar {
	  position: relative;
	  top: 20px;
	  margin-right: 0;
	  margin-left: auto;
	  transform: scale(0.7);
	}
  }
}