#Home {
  height: 100%;

  .header {
	padding: 5px 10px;
	border-bottom: 2px solid lightgrey;
  }

  .pagination-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }

  .issue-preview-container {
	&:hover {
	  background-color: lightgrey;
	  cursor: pointer;
	}
  }
}